body {
    background-image: url("img/fondo.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
  }

  header{
    position:fixed;
  }

  h1{
    background-image: url();
  }

  article{
    background-color: darkred;
    color: black;
    margin: 5%;
    padding: 5%;
  }

  .informacion{
    padding: 2%;
  }



